*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.WeatherLocationCont {
    margin-left: 10px;
    margin-right: 10px;
    width: calc(100% - 20px);
    min-width: 300px;
    padding: 0 15px;
}

.LocationCont {
    width: 100%;
    height: 35px;
    margin-bottom: 5px;
    color: white;
    text-shadow: rgba(0,0,0,0.2) 2px 2px;
}