.forecast-title {
    color: white;
    text-align: center;
    padding: 15px 0;
    font-size: 1.5em;
}

.ForecastItem {
    padding: 15px;
}

.ForecastItem h4 {
    color: white;
    text-transform: uppercase;
}

.LocationList-container {
    padding-bottom: 20px;
}

.LocationList-container {
    height: calc(100vh - 64px);
    overflow-y: scroll;
}
    
@media (max-width: 48em) {
    .LocationList-container {
        max-height: 40vh;
        overflow-y: auto;
    }
}

.LocationList-container::-webkit-scrollbar { 
    display: none; 
}