.forecast-title {
    color: white;
    text-align: center;
    padding: 15px 0;
    font-size: 1.5em;
}

.ForecastItem {
    padding: 15px;
}

.ForecastItem h4 {
    color: white;
    text-transform: uppercase;
}